body {
    padding: auto;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#top {
    background-color: lightgray;
    padding: 1rem;
}

#content {
    padding: 1rem;
    height: 400px;
    overflow-y: scroll;
}

#bottom {
    background-color: black;
    color: lightgray;
    padding: 2rem;
}

.requestMethods {
    color: mediumpurple;
}

.requestForm {
    display: none;
}

.collapsible {
    border-radius: 10px;
}

.endpoint {
    margin: 0 0 0.5rem;
    border: 2px solid black;
    display: block;
}
.formContent {
    display: flex;
    flex-flow: column wrap;
}